
body{
    padding: 0;
    margin: 0;
}
.menu ul {
    list-style: none;
    margin: 0;
}
.menu ul li {
    padding: 15px;
    position: relative;
    width: 150px;
    background-color: #34495E;
    border-top: 1px solid #BDC3C7;
    border-right: 5px solid #F1C40F;
}
.menu > ul > li {
    border-right: 5px solid #F1C40F;
}
.menu ul ul {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    position: absolute;
    left: 80%;
    top: -2%;
}
.menu ul li:hover > ul {
    opacity: 1;
    visibility: visible;
}
.menu ul li a {
    color: #fff;
    text-decoration: none;
}
span{
    margin-right: 15px;
}