body{
    margin: 0px;
    padding: 0px;
}
a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
a:hover{
    background: rgb(0, green, blue);
}
#logo{
    font-size: 1.5rem;
    font-weight: bold;
}
#header{
    display: flex;
    align-items: center;
    height: 70px;
    padding:  .1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
}
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a{
    display: block;
    padding: .5rem;
}
#btn-mobile{
    display: none;
}
@media (max-width: 600px){
    #btn-mobile {
        display: block;
    }
    #menu{
        display: none;
       position: absolute;
       width: 100%;
       top: 70px;
       right: 0px;
       background: #e7e7e7;
       height:  0px;
       transition: .6s; 
       z-index: 1000;
       
    }
    #nav .active #menu{
        display: block;
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin:  0 1rem;
        border-bottom: 2px solid rgb(0, green, blue);
    }
}