@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    margin-top:  360px;
}
.btn1{
    border: 1px solid #02090e;
    background: rgba(3, 96, 218, 0.76);
    padding: 10px 20px;
    font-size: 20px;
    transition:  ease-out 0.3s;
    outline: none;
  
}
.btn1:hover{
    color:#d37509;
    box-shadow:  inset 300px 0 0 0 #f9e506;
}


}
