body{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    margin-top:  360px;
}
.btn{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8;
    position: relative;
    overflow: hidden;
}
.btn1, .btn2{
    color:#3498db;
}
.btn3, .btn4 {
    color: #fff;
}
.btn1:hover, .btn2:hover{
    color: #3498db;
}


