body{
    margin:0;

}
header {
    color: white;
    background-color:blue;
    height: 20px;
    padding: 30px;

}
 h1{
  
  position: absolute;
    color: #CFB53B ;
    display:  inline-block;
    font-size: 15px;
    margin-left: 227px;
    
}
p{
    font-family: 'Mr Dafoe', cursive;
    color: #CFB53B;
    position: absolute;
}

img.fundo{
    position: fixed;
    height:100%;
width: 100%;
}

 


img.logo{
width: 60px;
height: 50px; 


}